@media screen and (max-width: 900px) {
	body{
		margin: 0;
            background-color: #fff;
            overflow-x: hidden;
            top: -100%;
            left: 0;
            right: 0;
            bottom: -100%;
	}
}

@media screen and (max-width: 800px) {
      .logoname {
      font-size: 20px;
    }
 }
 @media screen and (max-width: 320px) {
      .logoname {
      font-size: 15px;
    }
 }
 @media screen and (max-width: 170px) {
      .logoname {
      font-size: 10px;
    }
 }
@media screen and (max-width: 900px) {
      .img-slid{
        width: 100vw;
      }
      .mySlides img {
          height: 30vh;
        }
      .head3 {
        /*font-size: 8px;*/
      }
      .pad{
        justify-content: center;
        margin-left: 5%;
      }
      .message-column {
        width: 70vw;
        height: 100%;
      }
      .top{
            width: 100vw;
            height: 100%;
      }
      .bottom{
            top: 0;
            width: 100vw;
            height: 100%;
      }
  }